
CREATE TABLE IF NOT EXISTS public.entities (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
    name TEXT NOT NULL,
    created_at TIMESTAMPTZ DEFAULT now(),
    UNIQUE(user_id, name)
);

-- Seed com Pessoal para usuários existentes
INSERT INTO public.entities (user_id, name)
SELECT id, 'Pessoal' FROM public.profiles
ON CONFLICT DO NOTHING;

-- RLS
ALTER TABLE public.entities ENABLE ROW LEVEL SECURITY;
DROP POLICY IF EXISTS \
User
isolation\ ON public.entities;
CREATE POLICY \User
isolation\ ON public.entities FOR ALL USING (auth.uid() = user_id);

