UPDATE transactions 
SET metadata = jsonb_set(COALESCE(metadata, '{}'::jsonb), '{installment_group_id}', to_jsonb(liability_id::text))
WHERE liability_id IS NOT NULL AND (metadata->>'installment_group_id') IS NULL;
